BlogArticulo.Presentacion.Web/WebApplication1/Connected Services/ServiceReference1/ArticuloServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerArticulos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerArticulosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerArticuloPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idArticulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerArticuloPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerArticuloPorIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerArticulos" />
  </wsdl:message>
  <wsdl:message name="ObtenerArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerArticuloPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerArticuloPorId" />
  </wsdl:message>
  <wsdl:message name="ObtenerArticuloPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerArticuloPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ArticuloServicioWebSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticulos">
      <wsdl:input message="tns:ObtenerArticulosSoapIn" />
      <wsdl:output message="tns:ObtenerArticulosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticuloPorId">
      <wsdl:input message="tns:ObtenerArticuloPorIdSoapIn" />
      <wsdl:output message="tns:ObtenerArticuloPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArticuloServicioWebSoap" type="tns:ArticuloServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticulos">
      <soap:operation soapAction="http://tempuri.org/ObtenerArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticuloPorId">
      <soap:operation soapAction="http://tempuri.org/ObtenerArticuloPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArticuloServicioWebSoap12" type="tns:ArticuloServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticulos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerArticulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticuloPorId">
      <soap12:operation soapAction="http://tempuri.org/ObtenerArticuloPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticuloServicioWeb">
    <wsdl:port name="ArticuloServicioWebSoap" binding="tns:ArticuloServicioWebSoap">
      <soap:address location="http://localhost:50333/ServiciosWeb/ArticuloServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ArticuloServicioWebSoap12" binding="tns:ArticuloServicioWebSoap12">
      <soap12:address location="http://localhost:50333/ServiciosWeb/ArticuloServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>